<div class="callout callout--primary">
    <div class="grid grid--1x2">
        <div class="callout__content">
            <h2 class="callout__heading">Ready to get started?</h2>
            <p style="color: white;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim cupiditate officia autem distinctio fugit ipsum praesentium magnam perferendis sapiente. Quos ad in dolor corporis autem. Ex libero provident ducimus officia!</p>
        </div>
        <a href="" class="btn btn--secondary btn--streched">Get Started</a>
    </div>
</div>