<div class="collapsible collapsable--expanded">
    <header class="collapsible__header">
        <h2 class="collapsible__heading">Item 1</h2>
        
          <svg class="icon icon--accent collapsible__chevron">
              <use xlink:href="images/sprite.svg#chevron"></use>
          </svg>
     
    </header>
    <div class="collapsible__content">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci eligendi suscipit impedit explicabo blanditiis, molestias quia iusto laborum at quas magnam delectus amet quisquam, recusandae sapiente, incidunt provident reiciendis odio.
    </div>
</div>