<div class="media">
    <div class="media__image">
       <svg class="icon icon--primary">
           <use xlink:href="images/sprite.svg#snap"></use>
       </svg>
    </div>
    <div class="media__body">
        <h3 class="media__title">Easy to start and managed updates</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum placeat dicta maiores inventore minus id quisquam quasi vitae iusto odio optio, voluptatibus sapiente veritatis, asperiores commodi nobis cupiditate! Perspiciatis, nemo.
        </p>

    </div>
</div>